<mat-card class="product-card"  appearance="outlined" >
    <mat-card-header>
        <mat-card-title>
            <span>{{productDetails.name}}</span>
        </mat-card-title>
    </mat-card-header>
  <img (click)="goToProductDetail()" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-content>
        <div class="product-desc">
         <span> {{productDetails.description}}</span>
         <span> price : {{productDetails.price}}</span>
         <span> category : {{productDetails.category}}</span>

        </div>
    </mat-card-content>
    <mat-card-actions  class="card-action-details">
        @if (productDetails.userAddedQuantity ?? 0 > 0) {
            <div class="add-remove-button">
                <mat-icon (click)="addProductToCart()">add</mat-icon>
                <input class="product-quantity" type="text" #productQuantity="ngModel" [(ngModel)]="productDetails.userAddedQuantity" appAllowOnlyNumbers/>
                <mat-icon (click)="removeProduct()">remove</mat-icon>
            </div>
        } @else {
            <button mat-flat-button (click)="addProductToCart()">Add to Cart</button>
        }
    </mat-card-actions>
</mat-card>